<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${msg}">
    <h2 th:text="${msg}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input id="file" type="file" name="file" onchange="validateFileSizeAndEnableUpload()" accept=".pdf"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload" id="upload-button"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <!--    <ul>-->
    <!--        <li th:each="fileWithLinks : ${uploadedLinks.getFileWithLinks()}">-->
    <table th:border="1px">
        <thead>
        <tr>
            <th> Original Name</th>
            <th> Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${uploadedLinks.getFileWithLinks().isEmpty()}">
            <td colspan="2"> No Files Available</td>
        </tr>
        <tr th:each="fileWithLinks : ${uploadedLinks.getFileWithLinks()}">
            <td><span th:text="${fileWithLinks.fileName()}"> Name </span></td>
            <td><span th:text="${fileWithLinks.fileLink()}"> Link </span></td>
            <td>
                <embed th:src="${fileWithLinks.fileLink()}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    validateFileSizeAndEnableUpload = () => {
        const fileElement = document.getElementById('file');
        // Check if any file is selected.
        const ONE_MEGABYTE = 1024;
        if (fileElement.files.length > 0) {
            const fileSize = fileElement.files.item(0).size;
            const sizeInMb = Math.round((fileSize / ONE_MEGABYTE));
            console.log(sizeInMb)
            // The size of the file.
            if (sizeInMb >= ONE_MEGABYTE) {
                document.getElementById('upload-button').disabled = true;
                alert("File too Big, please select a file less than 1MB");
            } else {
                document.getElementById('upload-button').disabled = false;
            }
        }
    }
</script>


</body>
</html>